body {
  background-color: #1b1c1d;
  font-family: "Inferi";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  color: beige;
}

img {
  width: 300px;
  max-width: auto;
  margin: 0px;
  border: none;
  padding: 10px;
}

h2 {
  color: #ffd7ff;
}

a {
  font-family: "Inferi";
  font-size: 1em;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  color: #d9c325;
}

#content-container {
  display: block;
  position: inherit;
  margin: inherit;
  max-width: 300px;
  color: white;
}

#content {
  display: flex;
  position: inherit;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  padding: 10px;
}

.content {
  color: #adadad;
  width: 50%;
  margin: 0 auto;
  padding: 24px 32px 32px;
  text-align: left;
  position: relative;
}

#footer {
  display: block;
  bottom: 20px;
  left: 20px;
  position: fixed;
  margin: auto;
  height: inherit;
  text-align: center;
  color: white;
}

#nav {
  position: fixed;
}

#videolink {
  display: block;
  bottom: 20px;
  left: 20px;
  position: fixed;
  margin: auto;
  height: inherit;
  text-align: center;
  color: white;
}

#spinner {
  animation-name: spin, depth;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(-360deg);
  }
}

@keyframes depth {
  0 {
    text-shadow: 0 0 black;
  }

  25% {
    text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black;
  }

  50% {
    text-shadow: 0 0 black;
  }

  75% {
    text-shadow: -1px 0 black, -2px 0 black, -3px 0 black, -4px 0 black,
      -5px 0 black;
  }

  100% {
    text-shadow: 0 0 black;
  }
}

.sphr {
  width: 1.2em;
  height: 1.2em;
  /* margin: auto; */
  border-radius: 50%;
  box-shadow: 0 0 10px #000, -10px 0 40px #ffffff, 10px 0 40px #ffffff,
    inset 0 0 50px #000 (26, 25, 25), inset 50px 0 40px #ffffff,
    inset -50px 0 40px #fff, inset 50px 0 300px #ffffff,
    inset -50px 0 300px #fff;
  animation: pulsate 6s linear infinite;
}

@keyframes pulsate {
  50% {
    box-shadow: 0 0 10px #000, 10px 0 40px #ffffff, -10px 0 40px #fff,
      inset 0 0 50px #000, inset -50px 0 40px #ffffff, inset 50px 0 40px #fff,
      inset -50px 0 300px #ffffff, inset 50px 0 300px #fff;
  }
}

@media screen and (max-width: 760px) {
  .content {
    width: 80%;
  }
}
