body {
  background-color: #ffffff;
  font-family: "Inferi";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

img {
  width: 300px;
  max-width: auto;
  margin: 0px;
  border: none;
  padding: 10px;
}

a {
  font-family: "Inferi";
  font-size: 1em;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  color: rgb(0, 17, 255);
}


#content-container {
  display: block;
  position: inherit;
  margin: inherit;
  max-width: 300px;
  color: white;
}

#content {
  display: flex;
  position: inherit;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  padding: 10px;
}


/* div {
  position: relative;
} */

 #videoBG {
  position: fixed;
  z-index: -1;
  left: -0.5px;
  top: -1px;
  width: 100%;
  height: auto;
  background-size: cover;
}

@media (min-aspect-ratio: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #videoBG {
    width: auto;
    height: 100%;
  }
}

}

@media screen and (max-width: 760px) {
  #content {
    max-width: 250px;
  }
}




#videocontent {
  display: block;
  position: inherit;
  max-width: 500px;
  max-height: auto;
  position: inherit;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  width: auto;
  padding: 10px;
}


#email {
  display: block;
  position: fixed;
  margin: auto;
  width: auto;
  height: 100px;
  color: white;
}

#mailbox {
  display: block;
  position: inherit;
  margin: auto;
  width: auto;
  line-height: 15px;
  color: white;
}

#footer {
  display: block;
  bottom: 20px;
  left: 20px;
  position: fixed;
  margin: auto;
  height: inherit;
  text-align: center;
  color: white;
}

#nav {
  position: fixed;
}

#videolink {
  display: block;
  bottom: 20px;
  left: 20px;
  position: fixed;
  margin: auto;
  height: inherit;
  text-align: center;
  color: white;
}



#spinner {
  animation-name: spin, depth;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(-360deg);
  }
}

@keyframes depth {
  0 {
    text-shadow: 0 0 black;
  }

  25% {
    text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black;
  }

  50% {
    text-shadow: 0 0 black;
  }

  75% {
    text-shadow: -1px 0 black, -2px 0 black, -3px 0 black, -4px 0 black,
      -5px 0 black;
  }

  100% {
    text-shadow: 0 0 black;
  }
}

/* .font2 {
  font-family: helvetica;
  font-size: 15px;
  font-weight: 600;
}

.font3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
}

.font4 {
  font-family: helvetica;
  font-size: 8px;
  font-weight: 600;
}

.font5 {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
} */
