body {
  perspective: 1300px;
  height: 100vh;
  max-height: 100vh;
  /* background-image: url(img/plaid.jpg);
  background-size: 100px auto; */
  font-family: "Inferi";
}

section {
  position: absolute;
  top: 50%;
  left: 50%;

  transform-style: preserve-3d;
  backface-visibility: hidden;

  transform: rotateX(20deg) rotateY(30deg);
}

a {
  font-family: "Inferi";
  font-size: 1em;
  color: rgb(0, 17, 255);
}

#ankit {
  font-family: "Inferi";
  font-size: 5em;
  color: rgb(255, 0, 0);
}

#video {
  font-family: "Inferi";
  font-size: 5em;
  color: rgb(255, 0, 0);
}

#still {
  font-family: "Inferi";
  font-size: 5em;
  color: rgb(255, 0, 0);
}

#web {
  font-family: "Inferi";
  font-size: 5em;
  color: rgb(255, 0, 0);
}

#about {
  font-family: "Inferi";
  font-size: 5em;
  color: rgb(255, 0, 0);
}

.face {
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
}

.face-cover {
  width: 300px;
  height: 300px;
  background-image: url(gif/kimshui.gif);
  transform: translateX(-50%) translateY(-50%) translateZ(150px);
}

.face-side {
  width: 300px;
  height: 300px;
  background-image: url(gif/nakedsculptures_1.gif);
  transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(150px);
}

.face-spine {
  width: 300px;
  height: 300px;
  background-image: url(gif/fromback.gif);
  transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(150px);
}

.face-top {
  width: 300px;
  height: 300px;
  background-image: url(gif/cirque.gif);
  transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(150px);
}

.face-bottom {
  width: 300px;
  height: 300px;
  background-image: url(gif/left.gif);
  transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(150px);
}

.face-back {
  width: 300px;
  height: 300px;
  background-image: url(gif/themepark.gif);
  transform: translateX(-50%) translateY(-50%) rotateX(180deg) translateZ(150px);
}

#bottom-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
}

.hide {
  display: none;
}
